$bg-color: #262626;
$accent-color: #34a594;

main {
  color: white;
  margin-bottom: 5%;
  padding: 15px;
}
// LISTE OUTILS
.tools {
  margin: auto;
  width: 80%;
}
.tools-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.tools-title {
  margin-bottom: 2%;
  width: 100%;
  color: $accent-color;
}
// FIN LISTE OUTILS

// OUTILS
.tools-icon {
  width: 80px;
  height: 80px;
}
// FIN OUTILS

@media screen and (max-width: 990px) {
  .tools-icon {
    margin-top: 50%;
  }
  .tools {
    width: 100%;
  }
}
