<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#intro"> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#projects">Projects</a>
                </li>
            </ul>
            <span class="d-flex">
                <button class="btn-lang" (click)="userLanguage('fr')"><span class="flag">🇫🇷</span></button>
                <button class="btn-lang" (click)="userLanguage('en')"><span class="flag">🇬🇧</span></button>
            </span>
        </div>
    </div>
</nav>