$bg-color: #262626;
$accent-color: #34a594;

nav a,  .collapse a{
    color: $accent-color;
    transition: all 400ms ease-in-out;
    border-radius: 5px;
    &:hover{ 
        color: $bg-color;
        background-color: $accent-color;
    }
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
nav a {
    padding: .5rem;
}
.nav-item{
margin-left: 5px;
}