$bg-color: #262626;
$accent-color: #34a594;
main {
  margin: 5% 0 10% 0;
  color: white;
}
.content {
  display: flex;
  flex-direction: row;
}
// DOWN BUTTON

.projects-button {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.btn-down {
  width: 40px;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $accent-color;
  }
}
// END DOWN BUTTON
.accent {
  color: $accent-color;
}
// NAME & INTRO
.intro-photo {
  border-radius: 50%;
  height: 450px;
  width: 450px;
}
.name-infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 3rem;
}
.title {
  font-size: 2rem;
}
.links {
  margin-top: 2%;
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.icon {
  color: #fff;
  transition: color 200ms ease-in-out;
  &:hover {
    color: $accent-color;
  }
}
// END NAME & INTRO

// ABOUT SECTION
.about {
  padding: 15px;
  margin-top: 3%;
  width: 50%;
}
.about p {
  font-size: 1.5rem;
}
.bold {
  font-weight: 600;
}

// END ABOUT SECTION

@media screen and (max-width: 990px) {
  main {
    flex-direction: column;
  }
  .intro-photo {
    width: 350px;
    height: 350px;
  }
  .name-infos,
  .about {
    width: 100%;
  }
}
