<main>
    <section class="name-infos">
        <div class="name">Maxime Dias</div>
        <div class="title accent">Junior Web Developer</div>
        <div class="links">
            <a href="https://github.com/RangoDisco" target="_blank" rel="noopener noreferrer">
                <i-feather name="github" class="icon"></i-feather>
            </a>
            <a href="https://linkedin.com/in/maxime-dias" target="_blank" rel="noopener noreferrer">
                <i-feather name="linkedin" class="icon"></i-feather>
            </a>
            <a href="https://linkedin.com/in/maxime-dias" target="_blank" rel="noopener noreferrer">
                <i-feather name="heart" class="icon"></i-feather>
            </a>

        </div>
    </section>
    <section class="about">
        <h2 class="accent">About me :</h2>
        <p>Hi ! My name is <span class="bold accent"> Maxime</span>, I'm a Junior Web Developper passionate about
            open source developpement. <br>
            I'm currently learning <span class="bold accent">Angular</span> and <span class="bold accent">Java
                Spring</span> at the Wild Code School in Lyon
        </p>
    </section>
</main>