<main id="intro">

    <!-- SECTION PHOTO + LIENS -->
    <section class="content">
        <section class="name-infos">
            <img class="intro-photo" [src]="introPhoto" alt="Ma photo">
            <div class="name">Maxime Dias</div>
            <div class="title accent">{{'intro.title' | translate}}</div>
            <div class="links">
                <a href="https://github.com/RangoDisco" target="_blank" rel="noopener noreferrer">
                    <i-feather name="github" class="icon"></i-feather>
                </a>
                <a href="https://linkedin.com/in/maxime-dias" target="_blank" rel="noopener noreferrer">
                    <i-feather name="linkedin" class="icon"></i-feather>
                </a>
                <a [href]="monCv" target="_blank">
                    <i-feather name="download" class="icon"></i-feather>

                </a>

            </div>
        </section>

        <!-- SECTION ABOUT -->
        <section class="about">
            <h2 class="accent">{{'about.title' | translate}}</h2>
            <p>{{'about.first-part-first-paragraph'| translate}} <span
                    class="bold accent">Maxime</span>{{'second-part-first-paragraph' | translate}}</p>

            <p>{{'about.first-part-second-paragraph'| translate}} <span class="bold accent">Angular</span>
                {{'about.and' | translate}} <span class="bold accent">Spring</span>
                {{'about.second-part-second-paragraph' | translate}}
            </p>

            <p> {{'about.first-part-third-paragraph' | translate}} <span class="bold accent">Open
                    Source</span>{{'about.second-part-third-paragraph' | translate}}</p>
        </section>
    </section>

    <!-- BUTTON POUR DESCENDRE -->
    <div class="projects-button">
        <a class="button nav-link" aria-current="page" href="#tools">
            <i-feather name="chevron-down" class=" btn-down icon"></i-feather>
        </a>
    </div>
</main>