@import "styles";

.scroll-to-top {
  padding: 1rem;
  float: right;
  border: none;
  background-color: $bg-color;
  color: $accent-color;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $accent-color;
    color: $bg-color;
  }
}
// .animation {
//   animation: opac 1s;
// }
// @keyframes opac {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
