@import "styles";
nav {
  background-color: $bg-color;
  font-size: 1.2rem;
}
nav a,
.collapse a,
.btn-lang {
  color: $accent-color;
  transition: all 400ms ease-in-out;
  border-radius: 5px;
  &:hover {
    color: $bg-color;
    background-color: $accent-color;
  }
}
.container-fluid {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
}
nav a {
  padding: 0.5rem;
}
.nav-item {
  margin-left: 5px;
}
.btn-lang {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $bg-color;
}
.flag {
  font-size: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .btn-lang {
    padding-left: 12px;
  }
}
