/* You can add global styles to this file, and also import other style files */
@import "_colors";
@import "_titles";

@font-face {
  font-family: Cheyenne;
  src: url(assets/fonts/CheyenneSans-Regular.ttf) format("truetype");
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}
